<%= form_tag products_path, method: 'get', class: 'navbar-form navbar-left', role: 'search' do %>
  搜尋價錢範圍：
  <div class="form-group">
    <%= price_range :min, 'min-price' %>
    <%= price_range :max, 'max-price' %>

    <select name="order" class="btn btn-default btn-lg">
      <%= options_for_select [['PRICE', 'price'], ['ID', 'id']], params[:order] %>
    </select>

    <%= check_box_tag :desc, value: true %>由大到小排列
  </div>
  <%= button_tag '搜尋', class: "btn btn-primary" %>
<% end %>