<nav class="navbar navbar-default" role="navigation">
  <%= link_to 'Product', products_path, class: "navbar-brand" %>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <%= nav_li 'Products', products_path %>
    <%= nav_li 'Categories', categories_path %>
    <%= nav_li 'About', pages_about_path %>
    <%= nav_li 'Contact', pages_contact_path %>
  </ul>
  </div>
</nav>